# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pickle files
*.pkl

# Windows installer files
scripts/*.msi

# Python virtual environments
env/
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class